exportPattern("^[[:alpha:]]+")
importFrom("data.table", "as.data.table")
importFrom("data.table", "data.table")
importFrom("pbmcapply", "pbmclapply")
importFrom("utils", "combn")
importFrom("caret", "nearZeroVar")
importFrom("stats", "formula", "lm")
importFrom("utils", "flush.console")
importFrom("fmsb", "VIF")
importFrom("dplyr", "percent_rank", "cummean")
