exportPattern("^[[:alpha:]]+")
importFrom("data.table", "as.data.table", "data.table")
importFrom("pbmcapply", "pbmclapply")
importFrom("utils", "combn")
importFrom("caret", "nearZeroVar")
importFrom("stats", "formula", "lm")
importFrom("utils", "flush.console")
importFrom("fmsb", "VIF")
importFrom("dplyr", "percent_rank", "cummean", "left_join")
importFrom("BestTransform", "data_distribution")
importFrom("h2o", "h2o.init", "h2o.no_progress", "as.h2o", "h2o.splitFrame", "h2o.automl")
importFrom("h2o", "h2o.getModel", "h2o.varimp", "h2o.varimp_plot", "h2o.predict")
importFrom("grDevices", "recordPlot")
importFrom("rlist", "list.append")
importFrom("caret", "prSummary", "multiClassSummary", "postResample")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "barplot", "par", "strwidth")
importFrom("utils", "head")
